<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-sent-sup" id="sentSup">
    <div class="container mt-5 mb-5">
        <h2> Вход</h2>
        <form method="post" enctype="multipart/form-data" class="edit-data">

            <br>
            <label class="admin-link">Login:</label>
            <input type="text" name="in_name" placeholder="Input login"
                   class="form-control admin-input">

            <br>
            <label class="admin-link">Password:</label>
            <input type="text" name="in_pass" placeholder="Input password"
                   class="form-control admin-input">


            <div class="col-md-12">
                <br>
                <button type="submit" class="btn btn app-btn-secondary">Sent</button>
            </div>
        </form>

        <br><a href="/index.html">Main</a>

    </div>
</div>
</body>
</html>